<!DOCTYPE html>
<html>
    <head>
        <title>Scam Detector</title>
        <link rel="stylesheet" href=" {{url_for('static',filename='first.css')}} ">
    </head>
    <body>
        <div class="box">
            <div class="square"></div>
        </div>
        <div class="container">
            <h2>Select service</h1>
            <a class="btn"  href="{{ url_for('ScamTextDetect') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Scam text detector
            </a>
            <br><br>
            <a class="btn 1" href="{{ url_for('ScamCallDetect') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Scam call detector
            </a>
        </div>

    </body>
</html>